:root {
    --background-color: rgb(173, 194, 173);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* body styling */

body {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.726);
}


/* questions answers */

.right,
.wrong {
    opacity: 70%;
}


/* question answes styling ends */


/* questions styling starts */

body .nameInput {
    align-items: center;
}

.container {
    width: 70%;
    margin-top: 20px;
    max-width: 90%;
    border-radius: 10px;
    justify-content: center;
    display: grid;
}

.questions {
    font-size: 5vw;
    font-weight: bold;
}

body div {
    margin: auto;
}

.questions {
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    width: 99%;
    float: right;
    border-radius: 5px;
    max-width: 100vw;
    margin-left: 5px;
    font-weight: bold;
    font-size: 3.5vw;
}

.highScore {
    margin: auto;
    /* background-color: var(--background-color); */
    width: 100%;
    max-width: 45%;
    /* box-shadow: 0 0 10px 2px; */
    border-radius: 10px;
    justify-content: center;
    display: grid;
    margin-bottom: 10px;
}

.namein {
    width: 70%;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    max-width: 90%;
    border-radius: 10px;
    justify-content: center;
    display: grid;
    margin: 10px auto;
}

.namein p {
    margin-top: 10px;
}

.nameInput {
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2vw;
}

.makeBig {
    font-size: 3.5vw;
}

.makeSmaller {
    font-size: 2.5vw;
}


/* questions styling ends */


/* button styling starts */

.btn-grid,
.start-btn {
    width: 100%;
    max-width: 100%;
    display: grid;
    margin: 20px 0px;
}

.btn {
    max-width: 100%;
    margin: 20px 5px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: left;
}

.btn:hover,
.btnSub:hover {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
}

.start-btn,
.btnSub {
    width: 100%;
    padding: 25px 25px;
    font-size: 3vw;
    color: rgba(48, 48, 48, 0.911);
    box-shadow: 0 0 10px 2px;
    text-align: center;
    opacity: 85%;
}

.hide {
    display: none;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

header a,
a,
.timercount {
    text-decoration: none;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.753);
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 0 5px 2px;
    border-radius: 10px;
    justify-content: center;
    margin: 10px 0px 10px 0px;
    display: grid;
}

.btnSub {
    border: rgb(0, 0, 0) solid 2px;
    font-size: 3vw;
    text-align: center;
    padding: 10px 0px;
    margin-left: 0px;
}

.formEl {
    font-weight: bolder;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
    margin: auto;
}


/* button styling ends */


/* form styling starts */

.formEl,
.ulike {
    list-style: none;
}

.hsBtn,
.start-btn {
    margin-left: -0px;
}

.str {
    text-align: center;
    font-size: 2vw;
}

.makeCenter {
    margin-top: 50px;
    font-size: 3vw
}


/* form styling ends */